<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Issue tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../resource/projects.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {'packages':['gantt']});
    </script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Projects</a></li>
                <li><a href="resourceList.html">Dashboard</a></li>
                <li><a href="../account/employeeAccount.html">Account</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div id="projectList" class="col-sm-2 sidenav">
            <!--Project List -->
        </div>
        <div class="col-sm-8 text-left">
            <h1 id="projectName">No project selected</h1>
            <h4 id="projectInfo"></h4>
            <div>

            </div>
            <h1>Sprints</h1>
            <div id="sprints">

            </div>
            <h2>Gantt. Actual time</h2>
            <div id="diagram"  class="row" style="min-width: 90%; min-height: 500px">

            </div>
            <h2>Gantt. Base time</h2>
            <div id="diagramBase"  class="row" style="min-width: 90%; min-height: 500px">

            </div>
        </div>
    </div>

</div>

<footer class="container-fluid text-center">
    <p>Vavilin Oleksandr</p>
</footer>
<script src="../script/customer/project.js"></script>
</body>
</html>
