<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Issue tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="../script/util/utils.js"></script>
  <script>
      google.charts.load('current', {'packages':['gantt']});
  </script>
  <link rel="stylesheet" href="../resource/projects.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Projects</a></li>
        <li><a href="resourceList.html">Dashboard</a></li>
        <li><a href="../account/employeeAccount.html">Account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div id="projectList" class="col-sm-2 sidenav">
      <!--Project List -->
    </div>
    <div class="col-sm-8 text-left">
      <h1 id="projectName">No project selected</h1>
      <h4 id="projectInfo"></h4>
      <div>
        <div id="collapsible" class="panel-group" id="collapse-group">
         <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#collapse-group" href="#el1">Add Task</a>
             </h4>
           </div>
           <div id="el1" class="panel-collapse collapse">
             <div class="panel-body">
                <form id="form" name="form" onsubmit="return validateForm()" method="POST">
                  <div class="row">
                    <div class="col-xs-6 form-group">
                      <label>Sprint name</label>
                      <select onchange="setPreliminaryTask()" id="sprintId" name="sprintId" class="form-control">
                        <option selected disabled>Select Sprint</option>
                      </select>
                    </div>
                    <div class="col-xs-6 form-group">
                      <label>Task name</label>
                      <input id="nameTask" name="name" class="form-control" type="text" required/>
                    </div>
                    <div class="col-xs-6 form-group date">
                      <label>Start date</label>
                      <input onchange="changeCompletionDate()" id="startDate" name="startDate" class="form-control" type="date" required/>
                      <select id="startTime" name="startTime" class="form-control" onchange="changeCompletionDate()">
                        <option selected value="8">8:00</option>
                        <option value="9">9:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                      </select>
                    </div>
                    <div class="col-xs-6 form-group">
                      <label>Completion date</label>
                      <input readonly title="Set automatically" id="completionDate" name="completionDate" class="form-control" type="date" required/>
                      <select  name="completionTime" title="Set automatically" readonly id="completionTime" class="form-control">
                        <option selected value="8">8:00</option>
                        <option value="9">9:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                      </select>
                    </div>
                    <div class="col-xs-6 form-group">
                      <label>Estimate (in hours)</label>
                      <input onchange="changeCompletionDate()" id="estimate" name="estimate" class="form-control" type="number" required/>
                    </div>
                    <div class="col-xs-6 form-group">
                      <label>Preliminary task</label>
                      <select onchange="setMinDate()" title="First select sprint" name="previousTaskId" id="preliminaryTask" class="form-control">
                        <option selected value>Have no preliminary task</option>
                      </select>
                    </div>
                    <div class="col-xs-6 form-group">
                      <label>Description</label>
                      <textarea name="description" style="resize: none" class="form-control" rows="5" id="description" required></textarea>
                    </div>
                    <div class="col-xs-6 form-group">
                      <label>Selected developers</label>
                      <ul id="selectedDevelopers" class="list-group">
                          <label>Empty List</label>
                      </ul>
                    </div>
                    <div class="col-xs-6 form-group">
                      <div class="col-sm-6">
                        <label>Developer position</label>
                        <select id="developerPosition" class="form-control">
                          <!--Positions -->
                        </select>
                      </div>
                      <div class="col-sm-6">
                        <label>Developer department</label>
                        <select id="selectDepartment" class="form-control">
                          <!--Departments -->
                        </select>
                      </div>
                      <input style="margin: 10px" type="button" value="Apply filter" onclick="applyFilter()" class="btn"/>
                      <div id="developerList" class="pre-scrollable">
                        <!--//Developers-->
                        <label>Empty List</label>
                      </div>
                      <input style="margin: 10px" type="button" value="Add developers" onclick="addDevelopers()" class="btn"/>
                    </div>
                    <div class="col-xs-6 form-group">
                    </div>
                    <div class="col-xs-6 form-group">
                      <input type="button" value="Add Task" onclick="sumbit()" class="btn btn-primary"/>
                    </div>
                    <input id="employeeIds" name="employeeIds" type="hidden" value="Submit" class="btn btn-primary"/>
                    <input id="employeeUnits" name="employeeUnits" type="hidden" value="Submit" class="btn btn-primary"/>
                    <input id="idTask" name="idTask" value="" type="hidden" class="btn btn-primary"/>
                  </div>
                  <div id="error" hidden class="alert alert-danger">

                  </div>
                </form>

             </div>
           </div>
         </div>
         <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#collapse-group" href="#el3">Add Sprint</a>
             </h4>
           </div>
           <div id="el3" class="panel-collapse collapse">
             <div class="panel-body">
                <form id="sprintForm" name="sprintForm" onsubmit="return validateSprintForm()" action="/manager/save" method="POST">
                  <div class="row">
                    <div class="col-xs-6 form-group">
                      <label>Sprint name</label>
                      <input id="name" name="name" class="form-control" type="text" required/>
                    </div>
                    <div class="col-xs-6 form-group date">
                      <label>Start date</label>
                      <input onchange="startDateChanged()" id="sprintStartDate" name="startDate" class="form-control" type="date" required/>
                    </div>
                    <div class="col-xs-6 form-group">
                      <label>Completion date</label>
                      <input id="sprintCompletionDate" name="completionDate" class="form-control" type="date" required/>
                    </div>
                    <div class="col-xs-6 form-group">
                      <label>Preliminary sprint</label>
                      <select name="previousSprint" id="preliminarySprints" class="form-control">
                        <option selected value>Have no preliminary sprint</option>
                      </select>
                    </div>
                    <div class="col-xs-6 form-group">
                    </div>
                    <div class="col-xs-6 form-group">
                      <input type="button" value="Add" onclick="sumbitSrint()" class="btn btn-primary"/>
                    </div>
                  </div>
                  <input id="projectId" name="projectId" value="" type="hidden" class="btn btn-primary"/>

                  <div id="errorSprint" hidden class="alert alert-danger">
                  </div>
                </form>

             </div>
           </div>
         </div>
        </div>

      </div>
      <h1>Sprints</h1>
      <div id="sprints">
      </div>
      <div class="container-fluid" style="overflow-x:scroll;">
        <div id="diagram"  class="row" style="min-width: 90%; min-height: 500px">

        </div>
      </div>
    </div>
  </div>

</div>

  <footer class="container-fluid text-center">
    <p>Vavilin Oleksandr</p>
  </footer>
  <script src="../script/manager/addTaskPage.js"></script>
  <script src="../script/manager/project.js"></script>
  <script src="../script/manager/addSprint.js"></script>
</body>
</html>
