<!DOCTYPE html>
<html lang="en">
<head>
  <title>Issue tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <style>
    .login-container {
      position: relative;
      top: 50%;
      width: 100%;
    }
  </style>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar" idTask="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="login-container" style="width: 500px">
    <form>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input idTask="email" type="text" class="form-control" name="email" placeholder="Username">
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input idTask="password" type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div class="input-group">
        <input type="submit" class="btn btn-primary">
      </div>
    </form>
  </div>

</body>
    <script src="../script/project.js"></script>
</html>
