<!DOCTYPE html>
<html lang="en">
<head>
  <title>Issue tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../script/util/utils.js"></script>
  <link rel="stylesheet" href="../resource/projects.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Projects</a></li>
        <li><a href="employeeAdmin.html">Employees</a></li>
        <li><a href="../account/employeeAccount.html">Account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <div>
        <input style="margin: 10px; width: 150px;" class="btn btn-primary" onclick="buttonAddNewProject()" value="Add project"/>
      </div>
      <div id="projectList" style="overflow-y:scroll">

      </div>
    </div>
    <div class="col-sm-8 text-left">
      <h1 id="projectName">No project selected</h1>
      <div>
       <div class="panel-body">
          <form id="form" name="form" onsubmit="return validateForm()" action="/manager/save" method="POST">
            <div class="row">
              <div class="col-xs-6 form-group">
                <label>Project name</label>
                <input id="name" name="name" class="form-control" type="text" required/>
              </div>
              <div class="col-xs-6 form-group date">
                <label>Start date</label>
                <input onchange="changeCompletionDateMin()" id="startDate" name="startDate" class="form-control" type="date" required/>
              </div>
              <div class="col-xs-6 form-group date">
                <label>Completion date</label>
                <input id="completionDate" name="completionDate" class="form-control" type="date" required/>
              </div>
              <div class="col-sm-6 form-group">
                <label>Select manager</label>
                <select required id="selectManager" name="managerId" class="form-control" required>
                  <!--Departments -->
                </select>
              </div>
              <div class="col-sm-6 form-group">
                <label>Select customer</label>
                <select required id="selectCustomer" name="customerId" class="form-control">
                  <!--Departments -->
                </select>
              </div>
              <div class="col-sm-6 form-group">
                <input class="btn btn-primary" type="button" onclick="sumbit()" value="Update"/>
                <input class="btn btn-primary" type="button" onclick="deleteProject()" value="Delete"/>
              </div>
              <input name="projectId" id="projectId" value type="text" hidden>
            </div>
          </form>
          <div id="error" hidden class="alert alert-danger">
          </div>
       </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Vavilin Oleksandr</p>
</footer>
<script src="../script/admin/project.js"></script>
</body>
</html>
